<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ "" | prepend: site.baseurl | prepend: site.url }}/">
<!--            <img src="{{ "/assets/img/logo.svg" | absolute_url }}" alt="{{ site.title }}" />-->
            Cumberland Skatepark Association
        </a>

        <nav class="site-nav">
            <a href="#" class="menu-icon"></a>

            <div class="menu">
                    <a class="page-link" href="/about">
                        About
                    </a>
            </div>
        </nav>
    </div>
</header>
