@use "reset";

body {
  color: #333;
}

.site-header {
  border-bottom: .3rsem solid #333;

  .site-nav {

    position: absolute;
    top: 12px;
    right: 24px;

    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      border-radius: 5px;
      width: 38px;
      height: 26px;
      line-height: 0;
      padding-top: 4px;
      text-align: center;

      background: #ffffff url("/assets/img/menu.png") 6px 4px no-repeat;
      background-size: 26px 26px;
    }

    .menu {
      clear: both;
      display: none;
      background-color: #ffffff;
      min-width: 10em;
      padding-bottom: 5px;
    }

    .page-link {
      font-size: 16px;
      display: block;
      padding: 6px 16px;
    }
  }
}

.site-title {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

.hero {
  width: 100%;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin: 0 0 2rem 0;
}

h2 {
  border-left: .5rem solid #333;
  padding-left: .5rem;
}


.site-footer {
  border-top: .3rem solid #333;
}

.home {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  hr {
    margin: 1rem 0;
  }
}

.profile-pic {
  float: none;
  display: block;
  margin: auto;
}

@media screen and (min-width: 450px) {
  .home {
    h1 {
      font-size: 1.75rem;
    }
  }
}

@media screen and (min-width: 715px) {
  .home {
    h1 {
      text-align: left;
    }
  }
  .profile-pic {
    float: right;
    margin-left: 2rem;
  }
}
