@use "reset";

body {
  color: #333;
}

.site-title {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  text-decoration: none;
  color: #333333;
}

header.site-header {
  padding-top: 1rem;
  text-align: center;
}

.hero {
  width: 100%;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin: 0 0 2rem 0;
}

h2 {
  border-left: .5rem solid #333;
  padding-left: .5rem;
}


.site-footer {
  border-top: .3rem solid #333;
}

.home {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  hr {
    margin: 1rem 0;
  }
}